
body { 

 background-image: url(http://i1378.photobucket.com/albums/ah112/Tormod_Smith/notePad_zpsw60k6o4s.jpg);
 background-size: cover; 
 background-attachment: fixed;
 background-position:center;
 background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;

  font-family: 'Indie Flower', cursive;
  font:bolder;

}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

 
}

h4 { font-size: 4em;}

/************Header **********************/

header { margin: 0 auto;
	 	 text-align: center;
				}		 


	


/****************Input  Box**********************/

.input-wrapper, .main-wrapper { background-color: rgba(0,0,3,0.1); }

.input-wrapper { 	
			display: inline-block;
			font-size: 3em;
			margin: 1em auto;
			padding: 1em;
			text-align: center;
			width:90%;}


.total  {  text-align: center;
		    margin:0 auto;
			font-size:1em;
			padding: 0em;
			font-family: arial;}	

.input-wrapper h3 { display: inline-block;
					margin:0 auto;
				}


input { text-align: center;
		background-color: rgba(0,2,3,0.1);
		margin: 0;
		}			


/************ List *******************/ 

.main-wrapper { width:90%;
				margin:0 auto;
				text-align: center;
				
			}

.main-wrapper  h4 { text-align: center;
					text-decoration: underline;
					margin: 0 auto;
					}

.main-wrapper p { text-align: center;
					margin: 0 auto;}

						

.on-the-list  { font-size: 5em;
				text-align: center;
				margin:0 auto;
				display: inline-block;
				position: relative;
				list-style: none;
			}				

.on-the-list ul { margin:0;
				  padding:0;
				  list-style: none;}


.tick { color:green;
		font-size: 1em;
		margin:0 auto;
		} 

.cross { color:red;
		font-size: 1em;
		margin:0 auto;
		} 
			


/* *************instructions ****************/

.instructions  {  list-style: none;
				  display: inline-block;
				  text-align: center;
				  margin:0 auto;
				  font-size: 2.5em;
				  color: grey;
	
}

.instructions li p { display: inline-block;
					 margin-left: 1em;}

/************ Footer ***********/

footer { font-size: 3em;

		 text-align: center;
		 margin-top: 10em;}		
