

body { 

 background-image: url(http://i1378.photobucket.com/albums/ah112/Tormod_Smith/notePad_zpsw60k6o4s.jpg);
/*   background-image: url(http://i1378.photobucket.com/albums/ah112/Tormod_Smith/Mobile%20Uploads/notepaper_zpsc0zohhlm.jpg); */  
  background-size: cover; 
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;

  font-family: 'Indie Flower', cursive;
  font:bolder;

/* background-image: url(file://C:/Users/Tormod/Documents/Thinkful/ShoppingList/img/notePad.jpg);
background-image: no-repeat;


} */
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;

 
}

h4 { font-size: 4em;}

/************Header **********************/

header { margin: 0 auto;

		 
		 font-size: 4em;
		 text-align: center;
		 line-height: 0.3em}

header p h2 { margin-top: 1em;
			}		 



/****************Input **********************/

.input-wrapper, .main-wrapper { background-color: rgba(0,0,3,0.1); }

.input-wrapper { 	text-align: center;
			font-size: 3em;
			margin: 0 auto;
			width:90%;}

.input-wrapper h2 {margin:0;}

input { text-align: center;
		background-color: rgba(0,2,3,0.1);
		margin: 0;}			


/************ Table *******************/ 

.main-wrapper { width:90%;
				margin:0 auto;
				text-align: center;
				
			}

.main-wrapper  h4 { text-align: center;
					text-decoration: underline;
					margin: 0 auto;
					}

.main-wrapper p { text-align: center;
					margin: 0 auto;}

						

.on-the-list  { font-size: 5em;
				text-align: center;
				margin:0 auto;
				display: inline-block;
				position: relative;
				list-style: none;
			}				
.on-the-list ul { margin:0;
				  padding:0;
				  list-style: none;}


.tick { color:green;
		font-size: 1em;
		margin:0 auto;

		} 
.cross { color:red;
		font-size: 1em;
		margin:0 auto;
		} 


.total  {  text-align: center;
			margin:0 auto;
			font-size:3em;
			padding: 1em;
			 font-family: arial;}				


/************ Footer ***********/

footer { font-size: 3em;

		 text-align: center;
		 margin-top: 10em;}		



